<dialog id="removePostDialog-<%= id %>">
  <form action="/<%= id %>/delete" method="POST">
    <p>Are you sure you want to remove this post?</p>
    <div>
      <button
        type="button"
        onclick="document.getElementById('removePostDialog-<%= id %>').close()"
      >
        Cancel
      </button>
      <button type="submit">Delete</button>
    </div>
  </form>
</dialog>
