<dialog>
  <form action="/<%= id %>/delete" method="POST">
    <p>Are you sure you want to remove this post?</p>
    <div>
      <button type="submit" formmethod="dialog">Cancel</button>
      <button type="submit">Delete</button>
    </div>
  </form>
</dialog>
