<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/form.css" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/nav.css" />
    <title>Sign-up</title>
  </head>
  <body>
    <%- include('./nav'); -%>
    <h3>Sign-up</h3>
    <%- include('./errors'); -%>
    <form action="/sign-up" method="POST" class="form">
      <label for="firstName">First name: </label>
      <input type="text" id="firstName" name="firstName" />

      <label for="lastName">Last name: </label>
      <input type="text" id="lastName" name="lastName" />

      <label for="username">Username: </label>
      <input type="text" id="username" name="username" />

      <label for="password">Password: </label>
      <input type="password" id="password" name="password" />

      <label for="confirmPassword">Confirm password: </label>
      <input type="password" id="confirmPassword" name="confirmPassword" />

      <button type="submit">Sign-up</button>
    </form>
  </body>
</html>
