h3 {
  padding-bottom: 16px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px 32px;
  width: 320px;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.form label {
  font-weight: bold;
  font-size: 14px;
}

.form input,
.form textarea {
  width: 100%;
  padding: 6px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.form button {
  padding: 6px 8px;
  border-radius: 4px;
  border: 1px solid rgb(0, 123, 194);
  color: rgb(0, 123, 194);
  cursor: pointer;
  font-weight: bold;
  background-color: white;
}

.form button:hover {
  background-color: rgb(0, 123, 194);
  color: white;
}

.errors {
  width: 100%;
  list-style: none;
  color: rgb(216, 0, 0);
  text-align: center;
  margin-bottom: 8px;
}
