#actions {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

#actions button {
  cursor: pointer;
  border: none;
  padding: 6px;
  border-radius: 4px;
}

#actions button:hover {
  filter: brightness(92%);
}

#actions > div {
  display: flex;
  gap: 16px;
}

#actions > div button {
  background-color: rgb(0, 110, 255);
  color: white;
}

#actions > a > button {
  background-color: rgb(30, 128, 0);
  color: white;
  padding: 8px;
}

h3 {
  padding-bottom: 16px;
}

.post {
  border-radius: 6px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
  padding: 12px 16px;
  margin-bottom: 12px;
  width: 320px;
}

.post h3 {
  font-size: 16px;
  margin-bottom: 6px;
}

.post p {
  font-size: 14px;
  margin-bottom: 4px;
}

.post button {
  padding: 4px 6px;
  border-radius: 4px;
  background-color: white;
  border: 1px solid rgb(216, 0, 0);
  color: rgb(216, 0, 0);
  cursor: pointer;
  font-size: 12px;
}

.post button:hover {
  background-color: rgb(216, 0, 0);
  color: white;
}

dialog {
  border: none;
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 12px 16px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}

dialog button:nth-child(1) {
  border-color: black;
  color: black;
}

dialog button:nth-child(1):hover {
  border-color: white;
  color: white;
  background-color: black;
}
